@font-face {
    font-family: "Symbols Nerd Font";
    src: url("fonts/nerd fonts/SymbolsNerdFont-Regular.ttf");
    src: url("fonts/nerd fonts/SymbolsNerdFontMono-Regular.ttf");
}

body
{
    background: #bcbcbc;
    font-family: "Symbols Nerd Font", serif;
}
#bottomstuff
{
    position: fixed;
    bottom: 0;
    left: 0;
    background: aqua;
    width: 100%;
    height: 25px;
    text-align: start;

}