body {
    background-color: #333333;
}
a {
    color: white;
}
p {
    color: #ffffff ;
}
h1 {
    color: #ffffff;
}
h2 {
    color: #ffffff;
}
h3 {
    color: #ffffff;
}
h4 {
    color: #ffffff;
}
h5 {
    color: #ffffff;
}
h6 {
    color: #ffffff;
}

#main-t {
    position: fixed;
    left: 35%;
}